@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


:root {
    --background: #050505;
    --foreground: white;
}

/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        --background: #ffffff;*/
/*        --foreground: #111111;*/
/*    }*/

/*    .stats-container {*/
/*        background-color: #f9f9f9;*/
/*    }*/

/*    .contact {*/
/*        border: 1px solid var(--foreground);*/
/*    }*/

/*    .images img:first-child {*/
/*        !* Optional: add a soft shadow or background for better visibility *!*/
/*        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
/*    }*/
/*    .text-container {*/
/*        text-shadow: 2px 0 white;*/
/*    }*/
/*}*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.logo {
    font-weight: bold;
}

 nav {
     display: none;
     gap: 5rem;
 }
 a {
     text-decoration: none;
     color: var(--foreground);
 }

.hamburger {
    align-items: center;
    display: grid;
    gap: 1px;
}
.hamburger div {
    background-color: var(--foreground);
    height: 2px;
    width: 2rem;
    border-radius: 30%;
}
.hero {
    padding: 2rem 5vw 0;
    margin: 1.5rem 0;
}
.images {
    width: 100%;
    position: relative;
}
.images img {
    width: 100%;
    border-radius: 2rem;
}
.images img:first-child {
    max-height: 40vh;
}
.images img:nth-child(2){
    max-width: 35rem;
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-position: center;
}
.text {
    position: relative;
    z-index: 2;
    margin: 2rem 0 3rem;
    display: grid;
    gap: 1rem;
}

.name {
    font-size: calc(2rem + 2vw);
}
.intro {
    font-size: calc(.5rem + 1vw);
    filter: brightness(70%);
}

.text-container {
    position: relative;
}


.contact {
    position: relative;
    z-index: 2;
    background-color: transparent;
    color: var(--foreground);
    border: 1px solid var(--foreground);
    height: 2.5rem;
    width: 10rem;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
}

.contact:hover {
    transform: translateY(-1px);
}
.stats-container {
    display: grid;
    gap: 2rem;
    text-align: center;
    margin-top: 2rem;
    position: relative;
    z-index: 3;
    background-color: var(--background);
    padding: 1rem 0;

}
.stats {
    font-size: 2rem;
    font-weight: bold;
}

.stats-text {
    filter: brightness(70%);
}

footer {
    bottom: 0;
    display: flex;
    gap: .5rem;
    justify-content: center;
    filter: brightness(70%);
    width: 100%;
    padding: 2rem;
    font-size: small;
}

@media (min-width: 1024px) {

    header {
        padding: 2rem 5rem  ;
    }

    .hero {
        padding: 0 10rem;
    }

    .text {
        max-width: 40vw;
    }
    .text-container {
        display: flex;
        justify-content: space-between;
    }
    footer {
        position: fixed;
    }
    .images img:nth-child(2){
        max-width: 37rem;
        position: absolute;
        top: -6rem;
        left: 55%;
        transform: translateX(-45%);
        z-index: 1;
        background-position: center;
    }
    .hamburger {
        display: none;
    }
    nav {
        display: flex;
    }
}
